build -c opt
build --incompatible_enable_cc_toolchain_resolution
build --copt="-Wall"
build --copt="-Werror"
build --copt="-fdiagnostics-color"
build --copt="-fmax-errors=5"
build --cxxopt="-std=c++17"
build --cxxopt="-Wno-psabi"

build --host_copt=-Wall
build --host_copt=-Werror
build --host_copt=-fdiagnostics-color
build --host_copt=-fmax-errors=5
build --host_cxxopt=-std=c++17
build --host_cxxopt="-Wno-psabi"

test --test_output=errors
test --test_env=GTEST_COLOR=yes
